<h1>任务编辑</h1>

<%= simple_form_for(@task) do |f| %>
  <div class="form-inputs">
    <%= f.input :description, label: '任务描述...' %>
    <%= f.input :finished_at, as: :date_picker, label: '任务完成日期', placeholder: '点击选择任务完成日期...' %>
    <%= f.association :targets, as: :check_boxes, collection: current_user.targets.recent, label: '关联目标...', include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, '提交', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

<p>  </p>
<%= link_to '删除这个任务', @task, method: :delete, data: { confirm: '你确定?' }, class: 'btn btn-danger btn-block' %>
<%= link_to '返回', tasks_path, class: 'btn btn-default btn-block' %>

<script type="text/javascript">
  $(document).on('ready page:change', function() {
    $('.date_picker.task_finished_at').datetimepicker({
      language: 'zh-CN',
      pickTime: false
    });
  });
</script>
