<table class="table table-bordered">
  <tr>
    <td>
      完成任务总数
      <h3><%= @tasks_count %></h3>
    </td>
    <td>
      最近30天完成数
      <h3><%= @recent_tasks_count %></h3>
    </td>
    <td>
      最长连续天数
      <h3><%#= @recent_tasks_count %></h3>
    </td>
  </tr>
</table>

<div class="text-center">
  <canvas id="taskChart" height="400"></canvas>
</div>

<table class="table table-bordered">
  <tr>
    <% 0.upto(4).each do |i| %>
      <td>
        <%= 5 - i %>星目标
        <h3>
          <%= @targets[i].blank? ? '无' : @targets[i].tasks_count %>
        </h3>
      </td>
    <% end -%>
  </tr>
</table>

<div class="row">
  <div class="text-center col-xs-8">
    <canvas id="targetChart" height="400"></canvas>
  </div>
  <div class="col-xs-4">
      <% 1.upto(5).each do |index| %>
        <p style="color: #<%= (@color_num * index).to_s(16) %>">
          <%= "★" * index%>
        </p>
      <% end -%>
  </div>
</div>

<script type="text/javascript">
  var ctx = $("#taskChart").get(0).getContext("2d");
  var data = {
    labels : <%= raw @date_tasks_hash.keys.to_json %>,
          datasets : [
                  {
                          fillColor : "rgba(151,187,205,0.5)",
                          strokeColor : "rgba(151,187,205,1)",
                          data : <%= @date_tasks_hash.values.map(&:count) %>
                  }
          ]
  }
  var options = {};
  new Chart(ctx).Bar(data,options);

  var ctx1 = $("#targetChart").get(0).getContext("2d");
  var data1 = [
    <% @targets.map(&:tasks_count).each_with_index do |tasks_count, index| %>
 {
   value: <%= tasks_count %>,
   color: '#<%= (@color_num * (5 - index)).to_s(16) %>'
 },
    <% end -%>
  ]
  var options1 = {};
  new Chart(ctx1).Pie(data1,options1);
  <%#var myNewChart = new Chart(ctx);%>
</script>
