<div style="margin:0 0 15px 0;">
  <%= link_to '返回任务列表', tasks_path, class: 'btn btn-default' %>
  <%= link_to '返回目标列表', targets_path, class: 'btn btn-default' %>
</div>

<table class="table table-bordered">
  <tr>
    <td>
      完成任务总数
      <h3><%= @tasks_count %></h3>
    </td>
    <td>
      最近30天完成数
      <h3><%= @recent_tasks_count %></h3>
    </td>
    <td>
      最长连续天数
      <h3><%#= @recent_tasks_count %></h3>
    </td>
  </tr>
</table>

<div id="tasks_chart" style="height: 200px;" class="col-xs-12"></div>

<table class="table table-bordered">
  <tr>
    <% 0.upto(4).each do |i| %>
      <td>
        <%= 5 - i %>星目标
        <h3>
          <%= @targets[i].blank? ? '无' : @targets[i].tasks_count %>
        </h3>
      </td>
    <% end -%>
  </tr>
</table>

<div id="targets_chart" style="height: 200px;" class="col-xs-12"></div>

<script type="text/javascript">
// note, each data item has "bullet" field.
var columnChartData = [
  <% @date_tasks_hash.each do |key, val| %>
 {
   'date': '<%= key %>',
   'total': '<%= val.count %>',
   'names': '<%= raw '<li class="chart-text">' + val.map(&:description).reverse[0..8].join('</li><li class="chart-text">') + '</li>' + (val.count > 9 ? '<li class="chart-text">……</li>': '') %>'
 },
 <% end -%>
];


  var chart_pie;
  var legend_pie;

  var chartData_pie = [
    <% @targets.map(&:tasks_count).each_with_index do |tasks_count, index| %>
 {
   "name": "<%= "★" * (5 -index) %>",
      "total": <%= tasks_count %>
    },
    <% end -%>
  ];

$(document).on("page:change", function () {
  // SERIAL CHART
    var chart = new AmCharts.AmSerialChart();
    chart.dataProvider = columnChartData;
    chart.categoryField = "date";

    // AXES
    // category
    var categoryAxis = chart.categoryAxis;
    categoryAxis.inside = true;
    categoryAxis.axisAlpha = 0;
    categoryAxis.gridAlpha = 0;
    categoryAxis.tickLength = 0;

    // value
    var valueAxis = new AmCharts.ValueAxis();
    valueAxis.minimum = 0;
    valueAxis.dashLength = 4;
    chart.addValueAxis(valueAxis);

    // GRAPH
    var graph = new AmCharts.AmGraph();
    graph.valueField = "total";
    graph.type = "column";
    graph.fillAlphas = 0.6;
    graph.lineAlpha = 0;
    graph.balloonText = "<ul class='chart-div list-unstyled'>[[names]]</ul>";
    chart.addGraph(graph);

    // WRITE
    chart.write("tasks_chart");
});


$(document).on("page:change", function () {
    // PIE CHART
      chart = new AmCharts.AmPieChart();
      chart.dataProvider = chartData_pie;
      chart.titleField = "name";
      chart.valueField = "total";
      <%#chart.labelRadius = -30;%>
      chart.labelText = "";

      // LEGEND
      legend = new AmCharts.AmLegend();
      legend.position = "right";
      legend.align = "center";
      legend.markerType = "circle";
      chart.balloonText = "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>";
      chart.addLegend(legend);

      // WRITE
      chart.write("targets_chart");
  });
</script>
